<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Dati Colture</title>
</head>

<body>
	<div th:fragment="colturaPage">

		<h1 class="mb-4">Dati Agriflux relativi alle Colture</h1>

		<div class="colturelist" th:unless="${#lists.isEmpty(colture)}">

			<h2 th:text="#{title.coltura}"></h2>

			<table id="coltura-datatable" class="table dt-responsive nowrap table-hover table-bordered w-100">
				<thead>
					<tr>
						<th th:text="#{utils.id}"></th>
						<th th:text="#{coltura.prodotto}"></th>
						<th th:text="#{coltura.prezzo}"></th>
						<th th:text="#{coltura.dataSemina}"></th>
						<th th:text="#{coltura.dataRaccolto}"></th>
					</tr>
				</thead>

				<tbody class="table-group-divider">
					<tr th:each="coltura : ${colture}">
						<td th:text="${{coltura.idColtura}}"></td>
						<td th:text="${{coltura.prodottoColtivato}}"></td>
						<td th:text="${{coltura.prezzoKg}}"></td>
						<td th:text="${{coltura.dataSemina}}"></td>
						<td th:text="${{coltura.dataRaccolto}}"></td>
					</tr>
				</tbody>
			</table>

		</div>

	</div>
</body>

</html>