<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Dashboard</title>
</head>

<body>
	<div th:fragment="dashboardPage">
		
		<div class="homepage-card card text-center">
			<div class="card-header">
				DASHBOARD AGRIFLUX
			</div>
			<div class="homepage-card-body card-body">
				<p class="card-text">BLA BLA BLA BLA BLA</p>
			</div>
			<div class="card-footer text-body-secondary">
				© 2025 AgriFlux – Dati Agricoli </br> Tutti diritti riservati
			</div>
		</div>
		
	</div>
</body>

</html>