<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Dashboard</title>
</head>

<body>
	<div th:fragment="homepagePage">
		
		<div class="homepage-card card">
		
			<div class="homepage-card-body card-body">
		
				<div class="row">
					<div class="col-sm-12 mb-3 mb-sm-0">
						<div class="card h-100">
							<p class="card-text">TEST TEST TEST TEST TEST TEST</p>
						</div>
					</div>
				</div>
		
				<div class="row mt-3">
					<div class="col-sm-6 mb-3 mb-sm-0">
						<div class="card h-100">
							<div class="card-header">
								Dati Aziendali
							</div>
							<div class="card-body card-body-custom">
								<p class="card-text">TEST TEST TEST TEST TEST TEST</p>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="card h-100">
							<div class="card-header">
								Simulazione
							</div>
							<div class="card-body card-body-custom">
								<p class="card-text">TEST TEST TEST TEST TEST TEST</p>
								
								<button id="batchButton" class="btn btn-primary">Avvia Simulazione</button>
								<div class="progress mt-3" style="height: 25px;">
									<div id="batchProgressBar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
										style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
										0%
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		
			<div class="card-footer text-body-secondary">
				© 2025 AgriFlux – Dati Agricoli </br> Tutti diritti riservati
			</div>
		</div>
		
	</div>
</body>

</html>