<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Dati Produzione</title>
</head>

<body>
	<div class="container-fluid py-4" th:fragment="produzionePage">
		<div class="card mb-3">
			<div class="card-header">
				Tabella Produzione
			</div>
			<div class="card-body">
				<div class="table-responsive" th:unless="${#lists.isEmpty(produzioni)}">

					<table id="produzione-datatable"
						class="table table-bordered table-hover table-sm">
						<thead>
							<tr>
								<th class="text-center" th:text="#{utils.id}"></th>
								<th class="text-center" th:text="#{produzione.raccolto}"></th>
								<th class="text-center" th:text="#{produzione.raccoltoVenduto}"></th>
								<th class="text-center" th:text="#{produzione.fatturatoColtura}"></th>
								<th class="text-center" th:text="#{produzione.speseAccessorie}"></th>
								<th class="text-center" th:text="#{produzione.numLavoratori}"></th>
								<th class="text-center" th:text="#{produzione.tempoSemina}"></th>
								<th class="text-center" th:text="#{produzione.tempoGerminazione}"></th>
								<th class="text-center" th:text="#{produzione.tempoTrapianto}"></th>
								<th class="text-center" th:text="#{produzione.tempoMaturazione}"></th>
								<th class="text-center" th:text="#{produzione.tempoRaccolta}"></th>
								<th class="text-center" th:text="#{utils.idColtura}"></th>
							</tr>
						</thead>

						<tbody class="table-group-divider">
							<tr th:each="produzione : ${produzioni}">
								<td class="text-center" th:text="${{produzione.idProduzione}}"></td>
								<td class="text-center" th:text="${{produzione.quantitaRaccolto}}"></td>
								<td class="text-center" th:text="${{produzione.quantitaRaccoltoVenduto}}"></td>
								<td class="text-center" th:text="${{produzione.fatturatoColtura}}"></td>
								<td class="text-center" th:text="${{produzione.speseAccessorie}}"></td>
								<td class="text-center" th:text="${{produzione.numLavoratori}}"></td>
								<td class="text-center" th:text="${{produzione.tempoSemina}}"></td>
								<td class="text-center" th:text="${{produzione.tempoGerminazione}}"></td>
								<td class="text-center" th:text="${{produzione.tempoTrapianto}}"></td>
								<td class="text-center" th:text="${{produzione.tempoMaturazione}}"></td>
								<td class="text-center" th:text="${{produzione.tempoRaccolta}}"></td>
								<td class="text-center" th:text="${{produzione.fkIdColtura}}"></td>
							</tr>
						</tbody>
					</table>

				</div>
			</div>
		</div>

	</div>

</body>

</html>