<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Dati Terreni</title>
</head>

<body>
	<div class="container-fluid py-4" th:fragment="terrenoPage">
		
		<div class="card mb-3">
			<div class="card-body">
				<div class="card-header" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTabellaTerreno"
					aria-expanded="false" aria-controls="collapseTabellaTerreno">
					Tabella Dati Terreno
				</div>
				<div class="collapse" id="collapseTabellaTerreno">
					<div class="card-body">
						<div class="table-responsive" th:unless="${#lists.isEmpty(terreni)}">
		
							<table id="terreno-datatable" class="table table-bordered table-hover table-sm">
								<thead>
									<tr>
										<th class="text-center" th:text="#{utils.id}"></th>
										<th class="text-center" th:text="#{terreno.phSuolo}"></th>
										<th class="text-center" th:text="#{terreno.umidita}"></th>
										<th class="text-center" th:text="#{terreno.capacitaAssorbente}"></th>
										<th class="text-center" th:text="#{terreno.porosita}"></th>
										<th class="text-center" th:text="#{terreno.temperatura}"></th>
										<th class="text-center" th:text="#{terreno.disponibilitaIrrigua}"></th>
										<th class="text-center" th:text="#{terreno.dataRilevazione}"></th>
										<th class="text-center" th:text="#{utils.idColtura}"></th>
										<th class="text-center" th:text="#{utils.idMorfologia}"></th>
									</tr>
								</thead>
		
								<tbody class="table-group-divider">
									<tr th:each="terreno : ${terreni}">
										<td class="text-center" th:text="${{terreno.idRilevazioneTerreno}}"></td>
										<td class="text-center" th:text="${{terreno.phSuolo}}"></td>
										<td class="text-center" th:text="${{terreno.umidita}}"></td>
										<td class="text-center" th:text="${{terreno.capacitaAssorbente}}"></td>
										<td class="text-center" th:text="${{terreno.porosita}}"></td>
										<td class="text-center" th:text="${{terreno.temperatura}}"></td>
										<td class="text-center" th:text="${{terreno.disponibilitaIrrigua}}"></td>
										<td class="text-center" th:text="${{terreno.dataRilevazione}}"></td>
										<td class="text-center" th:text="${{terreno.idColtura}}"></td>
										<td class="text-center" th:text="${{terreno.idMorfologia}}"></td>
									</tr>
								</tbody>
							</table>
		
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="card mb-3">
			<div class="card-body">
				<div class="card-header" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTabellaMorfologia"
					aria-expanded="false" aria-controls="collapseTabellaMorfologia">
					Tabella Dati Morfologici
				</div>
				<div class="collapse" id="collapseTabellaMorfologia">
					<div class="card-body">
						<div class="table-responsive" th:unless="${#lists.isEmpty(morfologie)}">
		
							<table id="morfologia-datatable" class="table table-bordered table-hover table-sm">
								<thead>
									<tr>
										<th class="text-center" th:text="#{utils.id}"></th>
										<th class="text-center" th:text="#{morfologia.estensioneTerreno}"></th>
										<th class="text-center" th:text="#{morfologia.pendenza}"></th>
										<th class="text-center" th:text="#{morfologia.esposizione}"></th>
										<th class="text-center" th:text="#{morfologia.litologia}"></th>
									</tr>
								</thead>
		
								<tbody class="table-group-divider">
									<tr th:each="morfologia : ${morfologie}">
										<td class="text-center" th:text="${{morfologia.idMorfologia}}"></td>
										<td class="text-center" th:text="${{morfologia.estensioneTerreno}}"></td>
										<td class="text-center" th:text="${{morfologia.pendenza}}"></td>
										<td class="text-center" th:text="${{morfologia.esposizione}}"></td>
										<td class="text-center" th:text="${{morfologia.litologia}}"></td>
									</tr>
								</tbody>
							</table>
		
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>

</body>

</html>