.nav-bg-green-custom {
	background-color: #1f3b2c;
}

.sidebar-custom .nav-link {
	color: #D4FFD6;
}

.sidebar-custom .nav-link:hover {
	color: #ffffff;
	background-color: rgba(255, 255, 255, 0.05);
}

.custom-btn-sidebar {
	background-color: #3E8E41;
	color: #D4FFD6 !important;
	border: none;
	text-align: start;
}

.custom-btn-sidebar:hover {
	background-color: #4CAF50;
	color: #ffffff;
}

.custom-btn-sidebar:active,
.custom-btn-sidebar.active,
.custom-btn-sidebar:focus {
	background-color: rgb(11, 108, 33) !important;
	color: #ffffff !important;
	box-shadow: none !important;
	outline: none !important;
}

.navbar-text {
	color: #D4FFD6 !important;
}

.tab-content {
	height: 1000px !important;
	background-color: rgb(187, 240, 162)
}

.chart-container {
	background-color: rgb(255, 255, 255);
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	width: 100%;
	max-width: 950px;
	height: 400px; /* Altezza fissa */
	margin: 0 auto;
	position: relative;
}

canvas {
	width: 100% !important;
	height: 100% !important;
}