<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
	<title>AgriFlux Dashboard</title>
	<link rel="stylesheet" data-th-href="@{/css/dashboard.css}">
	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
	<!-- DataTables -->
	<link href="https://cdn.datatables.net/2.3.1/css/dataTables.bootstrap5.css" rel="stylesheet">
	<!-- Chart.js -->
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
  
<body>
	<div class="container-fluid">
		<div class="row flex-nowrap">

			<nav class="sidebar-custom col-md-2 d-none d-md-block nav-bg-green-custom position-fixed p-0 min-vh-100">
				<div class="d-flex flex-column justify-content-between h-100 p-3">

					<div class="text-center mb-4">
						<a class="navbar-brand">
							<img class="object-fit-fill border rounded" data-th-src="@{/images/logo.png}" alt="Logo"
								style="max-width: 120px;">
						</a>
					</div>

					<span class="navbar-text mt-2 mx-auto">
						<a data-th-text="'Utente: ' + ${session.username}"></a>
					</span>

					<hr class="border border-dark border-1">

					<div id="menu"
						class="nav nav-pills nav-fill flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start sidebar-bg-green-custom"
						role="tablist">
						<div class="nav-item mx-auto" role="presentation">
							<button id="pills-dashboard-tab" class="nav-link btn custom-btn-sidebar active w-100"
								data-bs-toggle="pill" data-bs-target="#pills-dashboard" type="button" role="tab"
								aria-controls="pills-dashboard" aria-selected="true" data-th-text="Dashboard"></button>
						</div>

						<div class="nav-item mx-auto" data-toggle="tooltip" role="presentation">
							<button id="pills-monitoraggio-tab"
								class="nav-link-collapse collapsed btn custom-btn-sidebar" data-th-text="Monitoraggio"
								data-bs-toggle="collapse" data-bs-target="#collapseMonitoraggio" aria-expanded="false"
								aria-controls="collapseMonitoraggio"></button>
							<div class="collapse ps-3" id="collapseMonitoraggio" data-bs-parent="#menu">
								<button id="pills-colture-tab" class="btn custom-btn-sidebar w-100" type="button"
									data-bs-toggle="pill" data-bs-target="#pills-colture" role="tab"
									aria-controls="pills-colture" aria-selected="false" data-th-text="Colture"></button>
								<button id="pills-produzione-tab" class="btn custom-btn-sidebar w-100" type="button"
									data-bs-toggle="pill" data-bs-target="#pills-produzione" role="tab"
									aria-controls="pills-produzione" aria-selected="false"
									data-th-text="Produzione"></button>
								<button id="pills-ambiente-tab" class="btn custom-btn-sidebar w-100" type="button"
									data-bs-toggle="pill" data-bs-target="#pills-ambiente" role="tab"
									aria-controls="pills-ambiente" aria-selected="false"
									data-th-text="Ambiente"></button>
								<button id="pills-terreno-tab" class="btn custom-btn-sidebar w-100" type="button"
									data-bs-toggle="pill" data-bs-target="#pills-terreno" role="tab"
									aria-controls="pills-terreno" aria-selected="false" data-th-text="Terreno"></button>
							</div>
						</div>

						<div class="nav-item mx-auto" role="presentation">
							<button id="pills-kpi-tab" class="nav-link btn custom-btn-sidebar w-100"
								data-bs-toggle="pill" data-bs-target="#pills-kpi" type="button" role="tab"
								aria-controls="pills-kpi" aria-selected="false" data-th-text="KPI"></button>
						</div>

						<div class="nav-item mx-auto" role="presentation">
							<button id="pills-reporting-tab" class="nav-link btn custom-btn-sidebar w-100"
								data-bs-toggle="pill" data-bs-target="#pills-reporting" type="button" role="tab"
								aria-controls="pills-reporting" aria-selected="false" data-th-text="Reporting"></button>
						</div>

						<div class="nav-item mx-auto" role="presentation">
							<a id="pills-logout-tab" class="nav-link custom-btn-sidebar w-100" data-th-href="@{/logout}"
								role="tab" data-th-text="Logout"></a>
						</div>

					</div>

					<hr class="border border-dark border-1">

					<footer class="navbar-text p-3 text-center border-top border-secondary">
						© 2025 AgriFlux – Dati agricoli </br> Tutti diritti riservati
					</footer>
				</div>
			</nav>

			<div class="col col-md-10 ms-auto px-4 tab-content" style="overflow-y: auto;" id="nav-tabContent">
				<div class="tab-pane fade show active" id="pills-dashboard" role="tabpanel"
					th:insert="~{fragments/dashboard :: dashboardPage}" tabindex="0"></div>

				<div class="tab-pane fade" id="pills-colture" role="tabpanel" aria-labelledby="pills-colture-tab"
					th:insert="~{fragments/coltura :: colturaPage}" tabindex="0"></div>

				<div class="tab-pane fade" id="pills-produzione" role="tabpanel" aria-labelledby="pills-produzione-tab"
					th:insert="~{fragments/produzione :: produzionePage}" tabindex="0"></div>

				<div class="tab-pane fade" id="pills-ambiente" role="tabpanel" aria-labelledby="pills-ambiente-tab"
					th:insert="~{fragments/ambiente :: ambientePage}" tabindex="0"></div>

				<div class="tab-pane fade" id="pills-terreno" role="tabpanel" aria-labelledby="pills-terreno-tab"
					th:insert="~{fragments/terreno :: terrenoPage}" tabindex="0"></div>

				<div class="tab-pane fade" id="pills-kpi" role="tabpanel" aria-labelledby="pills-kpi-tab" tabindex="0">
					KPI </div>

				<div class="tab-pane fade" id="pills-reporting" role="tabpanel" aria-labelledby="pills-reporting-tab"
					tabindex="0"> REPORTING </div>
			</div>

		</div>
	</div>

	<script defer src="https://code.jquery.com/jquery-3.7.1.js"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
	<script defer src="https://cdn.datatables.net/v/dt/dt-2.3.2/datatables.min.js" integrity="sha384-JRUjeYWWUGO171YFugrU0ksSC6CaWnl4XzwP6mNjnnDh4hfFGRyYbEXwryGwLsEp" crossorigin="anonymous"></script>
	<script defer src="https://cdn.datatables.net/2.3.2/js/dataTables.bootstrap5.js"></script>

	<script data-th-src="@{/js/chart/coltura.js}"></script>
	<script data-th-src="@{/js/chart/produzione.js}"></script>
	<script data-th-src="@{/js/chart/ambiente.js}"></script>
	<script data-th-src="@{/js/chart/terreno.js}"></script>
	<script data-th-src="@{/js/chart/dashboard.js}"></script>
</body>

</html>